@import url(//db.onlinewebfonts.com/c/373efd69166d31c2b5052a505527acbf?family=Graphik-Medium);

body {
  font-family: Graphik-Medium, sans-serif;

  /* use a img as background */
  background-image: url("../flat/reee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* center the image */

  align-items: center;
  /* center items in the middle */
  display: flex;
  /* flexbox all the way */
  justify-content: center;
  /* center items horizontally, in this case */
  min-height: 100vh;
  /* make sure it's at least as tall as the viewport */
  margin: 0;
  /* no body margin */
  padding: 0;
  /* no body padding */
}

.auth-form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  color: #333333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  background-color: #555;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #777;
}
/* 
.notification {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: red;
  color: white;
  padding: 10px;
  text-align: center;
  display: none;
} */
