body {
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #797979, #707070);
}

.auth-form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  color: #333333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #555555;
}
