body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.user-info,
.statistics {
  background-color: #fff;
  margin: 2rem;
  padding: 2rem;
  border-radius: 5px;
}

h2 {
  margin-bottom: 1rem;
}

.user-data p {
  margin-bottom: 0.5rem;
}

.graph-container {
  display: flex;
  justify-content: space-between;
}

#graph-1,
#graph-2 {
  width: 45%;
  height: 300px;
  border: 1px solid #ccc;
}
